<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hyperwave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="UserCacheEntities" connectionString="metadata=res://*/DB.UserModel.csdl|res://*/DB.UserModel.ssdl|res://*/DB.UserModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=UserCache.sqlite&quot;" providerName="System.Data.EntityClient" />
    <add name="DBEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=DB.sqlite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ESI.DataSource" value="tranquility"/>
    <add key="ESI.UserAgent" value="Hyperwave/1.0"/>
    <add key="SSO.LoginPortal" value="https://zukalitech.herokuapp.com/"/>
    <add key="SSO.ClientId" value="f728730773e84d849d48b63d5d6368c4"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.106.0" newVersion="1.0.106.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
  <userSettings>
    <Hyperwave.Properties.Settings>
      <setting name="DateFormat" serializeAs="String">
        <value>dd-MMM-yyyy</value>
      </setting>
      <setting name="TimeFormat" serializeAs="String">
        <value>h:mm:ss</value>
      </setting>
      <setting name="MailCheckInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BackgroundMailCheckInterval" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="BackgroundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SupressNotificationsClient" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundSettingUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SupressNotificationsFullscreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitalBackgroundMailCheckInterval" serializeAs="String">
        <value>90</value>
      </setting>
    </Hyperwave.Properties.Settings>
  </userSettings>
</configuration>